h1 {
	color: #000000; 
	font-family: 'Trocchi', 
	serif; font-size: 45px; 
	font-weight: normal; 
	line-height: 48px; 
	margin: 0; 
}

.container{
	width: auto;
	min-width: 450px;
	min-height: 500px;
	padding: 10px 20px 0 20px;
	background-color: #E6E6FA;
}
.middle{
	width: 100%;
	padding: 5px;
	margin: 10px;
}

.top{
	width: auto;
	min-height: 60%;
	padding: 10px 20px 0 20px;
}

.bottom{

}

#datatbl {
	font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

#datatbl tr:nth-child(even){
	background-color: #ADD8E6;
}

#datatbl tr:hover {
	background-color: #ddd;
}

td {
	border:0.5px solid black;
		padding:2px;
}

h1{
	width: 50%;
	margin: 2px;
}

h2{
	width: 50%;
	margin: 2px;
}

input[type=text] {
    margin: 5px 5px 5px 2px;
}

p {
	margin: 10px 10px 10px 10px;
	padding: 10px;
	font-weight: bold;
}